version: 2.1
jobs:  
  deploy:
    docker:
      - image: cimg/base:2020.01
    orbs:
      ansible-playbook: orbss/ansible-playbook@0.0.5
    steps:
      - attach_workspace:
          at: ./
      - setup-cd
      - run:
          name: deploy infra
          command: |
            cd ~/infra
            make init
            make up
            sudo chomd 777 run_ansible.sh
            sudo chomd 777 auto_get_db_config.sh
            sudo chomd 777 auto_set_hosts_ip.sh
            sudo ./run_ansible.sh
workflows:
  version: 2
  pipeline:
    jobs:
      - build
      - deploy:
          requires:
            - build
