version: 2.1
jobs:
  build:
    docker:
      -image: cimg/base:2020.01
    steps:
      -run:
         name: Install Ansible
         command: |
           sudo apt update -y
           sudo apt install -y language-pack-ja-base language-pack-ja
           sudo apt install -y software-properties-common
           sudo apt-add-repository -y ppa:ansible/ansible
           sudo apt update -y
           sudo apt install -y curl python-dev git 
           sudo curl "https://bootstrap.pypa.io/get-pip.py" -o "/tmp/get-pip.py"
           sudo python /tmp/get-pip.py
           sudo pip install --upgrade pip && pip install --upgrade setuptools
           sudo pip install ansible
  deploy:
    docker:
      - image: cimg/base:2020.01
    steps:
      - attach_workspace:
          at: ./
      - setup-cd
      - run:
          name: deploy infra
          command: |
            cd ~/infra
            make init
            make up
            sudo chomd 777 run_ansible.sh
            sudo chomd 777 auto_get_db_config.sh
            sudo chomd 777 auto_set_hosts_ip.sh
            sudo ./run_ansible.sh
workflows:
  version: 2
  pipeline:
    jobs:
      - build
      - deploy:
          requires:
            - build
