version: 2.1
orbs:
  ansible_playbook: orbss/ansible-playbook@0.0.5
orbs:
  terraform: ovotech/terraform@1.6.6
orbs:
  aws-cli: circleci/aws-cli@1.0.0
jobs:  
  deploy:
    working_directory: ~/infra
    docker:
      - image: cimg/base:2020.01
    steps:
      - run:
          name: deploy infra
          command: |
            cd ~/infra
            make init
            make up
            sudo chomd 777 run_ansible.sh
            sudo chomd 777 auto_get_db_config.sh
            sudo chomd 777 auto_set_hosts_ip.sh
            sudo ./run_ansible.sh
workflows:
  version: 2.1
  pipeline:
    jobs:
      - deploy:
